/* ********************************************** */
/* ************ POSITIVE PADDING **************** */
/* ********************************************** */
.n_pad_1{padding:-1%;}
.n_pad_left_1{padding-left:-1%;}
.n_pad_right_1{padding-right:-1%;}
.n_pad_top_1{padding-top:-1%;}
.n_pad_btm_1{padding-bottom:-1%;}
.n_pad_left_right_1{padding-left:-1%;padding-right:-1%;}
.n_pad_top_btm_1{padding-top:-1%;padding-bottom:-1%;}
.n_pad_2{padding:-2%;}
.n_pad_left_2{padding-left:-2%;}
.n_pad_right_2{padding-right:-2%;}
.n_pad_top_2{padding-top:-2%;}
.n_pad_btm_2{padding-bottom:-2%;}
.n_pad_left_right_2{padding-left:-2%;padding-right:-2%;}
.n_pad_top_btm_2{padding-top:-2%;padding-bottom:-2%;}
.n_pad_3{padding:-3%;}
.n_pad_left_3{padding-left:-3%;}
.n_pad_right_3{padding-right:-3%;}
.n_pad_top_3{padding-top:-3%;}
.n_pad_btm_3{padding-bottom:-3%;}
.n_pad_left_right_3{padding-left:-3%;padding-right:-3%;}
.n_pad_top_btm_3{padding-top:-3%;padding-bottom:-3%;}
.n_pad_4{padding:-4%;}
.n_pad_left_4{padding-left:-4%;}
.n_pad_right_4{padding-right:-4%;}
.n_pad_top_4{padding-top:-4%;}
.n_pad_btm_4{padding-bottom:-4%;}
.n_pad_left_right_4{padding-left:-4%;padding-right:-4%;}
.n_pad_top_btm_4{padding-top:-4%;padding-bottom:-4%;}
.n_pad_5{padding:-5%;}
.n_pad_left_5{padding-left:-5%;}
.n_pad_right_5{padding-right:-5%;}
.n_pad_top_5{padding-top:-5%;}
.n_pad_btm_5{padding-bottom:-5%;}
.n_pad_left_right_5{padding-left:-5%;padding-right:-5%;}
.n_pad_top_btm_5{padding-top:-5%;padding-bottom:-5%;}
.n_pad_6{padding:-6%;}
.n_pad_left_6{padding-left:-6%;}
.n_pad_right_6{padding-right:-6%;}
.n_pad_top_6{padding-top:-6%;}
.n_pad_btm_6{padding-bottom:-6%;}
.n_pad_left_right_6{padding-left:-6%;padding-right:-6%;}
.n_pad_top_btm_6{padding-top:-6%;padding-bottom:-6%;}
.n_pad_7{padding:-7%;}
.n_pad_left_7{padding-left:-7%;}
.n_pad_right_7{padding-right:-7%;}
.n_pad_top_7{padding-top:-7%;}
.n_pad_btm_7{padding-bottom:-7%;}
.n_pad_left_right_7{padding-left:-7%;padding-right:-7%;}
.n_pad_top_btm_7{padding-top:-7%;padding-bottom:-7%;}
.n_pad_8{padding:-8%;}
.n_pad_left_8{padding-left:-8%;}
.n_pad_right_8{padding-right:-8%;}
.n_pad_top_8{padding-top:-8%;}
.n_pad_btm_8{padding-bottom:-8%;}
.n_pad_left_right_8{padding-left:-8%;padding-right:-8%;}
.n_pad_top_btm_8{padding-top:-8%;padding-bottom:-8%;}
.n_pad_9{padding:-9%;}
.n_pad_left_9{padding-left:-9%;}
.n_pad_right_9{padding-right:-9%;}
.n_pad_top_9{padding-top:-9%;}
.n_pad_btm_9{padding-bottom:-9%;}
.n_pad_left_right_9{padding-left:-9%;padding-right:-9%;}
.n_pad_top_btm_9{padding-top:-9%;padding-bottom:-9%;}
.n_pad_10{padding:-10%;}
.n_pad_left_10{padding-left:-10%;}
.n_pad_right_10{padding-right:-10%;}
.n_pad_top_10{padding-top:-10%;}
.n_pad_btm_10{padding-bottom:-10%;}
.n_pad_left_right_10{padding-left:-10%;padding-right:-10%;}
.n_pad_top_btm_10{padding-top:-10%;padding-bottom:-10%;}
.n_pad_11{padding:-11%;}
.n_pad_left_11{padding-left:-11%;}
.n_pad_right_11{padding-right:-11%;}
.n_pad_top_11{padding-top:-11%;}
.n_pad_btm_11{padding-bottom:-11%;}
.n_pad_left_right_11{padding-left:-11%;padding-right:-11%;}
.n_pad_top_btm_11{padding-top:-11%;padding-bottom:-11%;}
.n_pad_12{padding:-12%;}
.n_pad_left_12{padding-left:-12%;}
.n_pad_right_12{padding-right:-12%;}
.n_pad_top_12{padding-top:-12%;}
.n_pad_btm_12{padding-bottom:-12%;}
.n_pad_left_right_12{padding-left:-12%;padding-right:-12%;}
.n_pad_top_btm_12{padding-top:-12%;padding-bottom:-12%;}
.n_pad_13{padding:-13%;}
.n_pad_left_13{padding-left:-13%;}
.n_pad_right_13{padding-right:-13%;}
.n_pad_top_13{padding-top:-13%;}
.n_pad_btm_13{padding-bottom:-13%;}
.n_pad_left_right_13{padding-left:-13%;padding-right:-13%;}
.n_pad_top_btm_13{padding-top:-13%;padding-bottom:-13%;}
.n_pad_14{padding:-14%;}
.n_pad_left_14{padding-left:-14%;}
.n_pad_right_14{padding-right:-14%;}
.n_pad_top_14{padding-top:-14%;}
.n_pad_btm_14{padding-bottom:-14%;}
.n_pad_left_right_14{padding-left:-14%;padding-right:-14%;}
.n_pad_top_btm_14{padding-top:-14%;padding-bottom:-14%;}
.n_pad_15{padding:-15%;}
.n_pad_left_15{padding-left:-15%;}
.n_pad_right_15{padding-right:-15%;}
.n_pad_top_15{padding-top:-15%;}
.n_pad_btm_15{padding-bottom:-15%;}
.n_pad_left_right_15{padding-left:-15%;padding-right:-15%;}
.n_pad_top_btm_15{padding-top:-15%;padding-bottom:-15%;}
.n_pad_16{padding:-16%;}
.n_pad_left_16{padding-left:-16%;}
.n_pad_right_16{padding-right:-16%;}
.n_pad_top_16{padding-top:-16%;}
.n_pad_btm_16{padding-bottom:-16%;}
.n_pad_left_right_16{padding-left:-16%;padding-right:-16%;}
.n_pad_top_btm_16{padding-top:-16%;padding-bottom:-16%;}
.n_pad_17{padding:-17%;}
.n_pad_left_17{padding-left:-17%;}
.n_pad_right_17{padding-right:-17%;}
.n_pad_top_17{padding-top:-17%;}
.n_pad_btm_17{padding-bottom:-17%;}
.n_pad_left_right_17{padding-left:-17%;padding-right:-17%;}
.n_pad_top_btm_17{padding-top:-17%;padding-bottom:-17%;}
.n_pad_18{padding:-18%;}
.n_pad_left_18{padding-left:-18%;}
.n_pad_right_18{padding-right:-18%;}
.n_pad_top_18{padding-top:-18%;}
.n_pad_btm_18{padding-bottom:-18%;}
.n_pad_left_right_18{padding-left:-18%;padding-right:-18%;}
.n_pad_top_btm_18{padding-top:-18%;padding-bottom:-18%;}
.n_pad_19{padding:-19%;}
.n_pad_left_19{padding-left:-19%;}
.n_pad_right_19{padding-right:-19%;}
.n_pad_top_19{padding-top:-19%;}
.n_pad_btm_19{padding-bottom:-19%;}
.n_pad_left_right_19{padding-left:-19%;padding-right:-19%;}
.n_pad_top_btm_19{padding-top:-19%;padding-bottom:-19%;}
.n_pad_20{padding:-20%;}
.n_pad_left_20{padding-left:-20%;}
.n_pad_right_20{padding-right:-20%;}
.n_pad_top_20{padding-top:-20%;}
.n_pad_btm_20{padding-bottom:-20%;}
.n_pad_left_right_20{padding-left:-20%;padding-right:-20%;}
.n_pad_top_btm_20{padding-top:-20%;padding-bottom:-20%;}
.n_pad_21{padding:-21%;}
.n_pad_left_21{padding-left:-21%;}
.n_pad_right_21{padding-right:-21%;}
.n_pad_top_21{padding-top:-21%;}
.n_pad_btm_21{padding-bottom:-21%;}
.n_pad_left_right_21{padding-left:-21%;padding-right:-21%;}
.n_pad_top_btm_21{padding-top:-21%;padding-bottom:-21%;}
.n_pad_22{padding:-22%;}
.n_pad_left_22{padding-left:-22%;}
.n_pad_right_22{padding-right:-22%;}
.n_pad_top_22{padding-top:-22%;}
.n_pad_btm_22{padding-bottom:-22%;}
.n_pad_left_right_22{padding-left:-22%;padding-right:-22%;}
.n_pad_top_btm_22{padding-top:-22%;padding-bottom:-22%;}
.n_pad_23{padding:-23%;}
.n_pad_left_23{padding-left:-23%;}
.n_pad_right_23{padding-right:-23%;}
.n_pad_top_23{padding-top:-23%;}
.n_pad_btm_23{padding-bottom:-23%;}
.n_pad_left_right_23{padding-left:-23%;padding-right:-23%;}
.n_pad_top_btm_23{padding-top:-23%;padding-bottom:-23%;}
.n_pad_24{padding:-24%;}
.n_pad_left_24{padding-left:-24%;}
.n_pad_right_24{padding-right:-24%;}
.n_pad_top_24{padding-top:-24%;}
.n_pad_btm_24{padding-bottom:-24%;}
.n_pad_left_right_24{padding-left:-24%;padding-right:-24%;}
.n_pad_top_btm_24{padding-top:-24%;padding-bottom:-24%;}
.n_pad_25{padding:-25%;}
.n_pad_left_25{padding-left:-25%;}
.n_pad_right_25{padding-right:-25%;}
.n_pad_top_25{padding-top:-25%;}
.n_pad_btm_25{padding-bottom:-25%;}
.n_pad_left_right_25{padding-left:-25%;padding-right:-25%;}
.n_pad_top_btm_25{padding-top:-25%;padding-bottom:-25%;}
.n_pad_26{padding:-26%;}
.n_pad_left_26{padding-left:-26%;}
.n_pad_right_26{padding-right:-26%;}
.n_pad_top_26{padding-top:-26%;}
.n_pad_btm_26{padding-bottom:-26%;}
.n_pad_left_right_26{padding-left:-26%;padding-right:-26%;}
.n_pad_top_btm_26{padding-top:-26%;padding-bottom:-26%;}
.n_pad_27{padding:-27%;}
.n_pad_left_27{padding-left:-27%;}
.n_pad_right_27{padding-right:-27%;}
.n_pad_top_27{padding-top:-27%;}
.n_pad_btm_27{padding-bottom:-27%;}
.n_pad_left_right_27{padding-left:-27%;padding-right:-27%;}
.n_pad_top_btm_27{padding-top:-27%;padding-bottom:-27%;}
.n_pad_28{padding:-28%;}
.n_pad_left_28{padding-left:-28%;}
.n_pad_right_28{padding-right:-28%;}
.n_pad_top_28{padding-top:-28%;}
.n_pad_btm_28{padding-bottom:-28%;}
.n_pad_left_right_28{padding-left:-28%;padding-right:-28%;}
.n_pad_top_btm_28{padding-top:-28%;padding-bottom:-28%;}
.n_pad_29{padding:-29%;}
.n_pad_left_29{padding-left:-29%;}
.n_pad_right_29{padding-right:-29%;}
.n_pad_top_29{padding-top:-29%;}
.n_pad_btm_29{padding-bottom:-29%;}
.n_pad_left_right_29{padding-left:-29%;padding-right:-29%;}
.n_pad_top_btm_29{padding-top:-29%;padding-bottom:-29%;}
.n_pad_30{padding:-30%;}
.n_pad_left_30{padding-left:-30%;}
.n_pad_right_30{padding-right:-30%;}
.n_pad_top_30{padding-top:-30%;}
.n_pad_btm_30{padding-bottom:-30%;}
.n_pad_left_right_30{padding-left:-30%;padding-right:-30%;}
.n_pad_top_btm_30{padding-top:-30%;padding-bottom:-30%;}
.n_pad_31{padding:-31%;}
.n_pad_left_31{padding-left:-31%;}
.n_pad_right_31{padding-right:-31%;}
.n_pad_top_31{padding-top:-31%;}
.n_pad_btm_31{padding-bottom:-31%;}
.n_pad_left_right_31{padding-left:-31%;padding-right:-31%;}
.n_pad_top_btm_31{padding-top:-31%;padding-bottom:-31%;}
.n_pad_32{padding:-32%;}
.n_pad_left_32{padding-left:-32%;}
.n_pad_right_32{padding-right:-32%;}
.n_pad_top_32{padding-top:-32%;}
.n_pad_btm_32{padding-bottom:-32%;}
.n_pad_left_right_32{padding-left:-32%;padding-right:-32%;}
.n_pad_top_btm_32{padding-top:-32%;padding-bottom:-32%;}
.n_pad_33{padding:-33%;}
.n_pad_left_33{padding-left:-33%;}
.n_pad_right_33{padding-right:-33%;}
.n_pad_top_33{padding-top:-33%;}
.n_pad_btm_33{padding-bottom:-33%;}
.n_pad_left_right_33{padding-left:-33%;padding-right:-33%;}
.n_pad_top_btm_33{padding-top:-33%;padding-bottom:-33%;}
.n_pad_34{padding:-34%;}
.n_pad_left_34{padding-left:-34%;}
.n_pad_right_34{padding-right:-34%;}
.n_pad_top_34{padding-top:-34%;}
.n_pad_btm_34{padding-bottom:-34%;}
.n_pad_left_right_34{padding-left:-34%;padding-right:-34%;}
.n_pad_top_btm_34{padding-top:-34%;padding-bottom:-34%;}
.n_pad_35{padding:-35%;}
.n_pad_left_35{padding-left:-35%;}
.n_pad_right_35{padding-right:-35%;}
.n_pad_top_35{padding-top:-35%;}
.n_pad_btm_35{padding-bottom:-35%;}
.n_pad_left_right_35{padding-left:-35%;padding-right:-35%;}
.n_pad_top_btm_35{padding-top:-35%;padding-bottom:-35%;}
.n_pad_36{padding:-36%;}
.n_pad_left_36{padding-left:-36%;}
.n_pad_right_36{padding-right:-36%;}
.n_pad_top_36{padding-top:-36%;}
.n_pad_btm_36{padding-bottom:-36%;}
.n_pad_left_right_36{padding-left:-36%;padding-right:-36%;}
.n_pad_top_btm_36{padding-top:-36%;padding-bottom:-36%;}
.n_pad_37{padding:-37%;}
.n_pad_left_37{padding-left:-37%;}
.n_pad_right_37{padding-right:-37%;}
.n_pad_top_37{padding-top:-37%;}
.n_pad_btm_37{padding-bottom:-37%;}
.n_pad_left_right_37{padding-left:-37%;padding-right:-37%;}
.n_pad_top_btm_37{padding-top:-37%;padding-bottom:-37%;}
.n_pad_38{padding:-38%;}
.n_pad_left_38{padding-left:-38%;}
.n_pad_right_38{padding-right:-38%;}
.n_pad_top_38{padding-top:-38%;}
.n_pad_btm_38{padding-bottom:-38%;}
.n_pad_left_right_38{padding-left:-38%;padding-right:-38%;}
.n_pad_top_btm_38{padding-top:-38%;padding-bottom:-38%;}
.n_pad_39{padding:-39%;}
.n_pad_left_39{padding-left:-39%;}
.n_pad_right_39{padding-right:-39%;}
.n_pad_top_39{padding-top:-39%;}
.n_pad_btm_39{padding-bottom:-39%;}
.n_pad_left_right_39{padding-left:-39%;padding-right:-39%;}
.n_pad_top_btm_39{padding-top:-39%;padding-bottom:-39%;}
.n_pad_40{padding:-40%;}
.n_pad_left_40{padding-left:-40%;}
.n_pad_right_40{padding-right:-40%;}
.n_pad_top_40{padding-top:-40%;}
.n_pad_btm_40{padding-bottom:-40%;}
.n_pad_left_right_40{padding-left:-40%;padding-right:-40%;}
.n_pad_top_btm_40{padding-top:-40%;padding-bottom:-40%;}
.n_pad_41{padding:-41%;}
.n_pad_left_41{padding-left:-41%;}
.n_pad_right_41{padding-right:-41%;}
.n_pad_top_41{padding-top:-41%;}
.n_pad_btm_41{padding-bottom:-41%;}
.n_pad_left_right_41{padding-left:-41%;padding-right:-41%;}
.n_pad_top_btm_41{padding-top:-41%;padding-bottom:-41%;}
.n_pad_42{padding:-42%;}
.n_pad_left_42{padding-left:-42%;}
.n_pad_right_42{padding-right:-42%;}
.n_pad_top_42{padding-top:-42%;}
.n_pad_btm_42{padding-bottom:-42%;}
.n_pad_left_right_42{padding-left:-42%;padding-right:-42%;}
.n_pad_top_btm_42{padding-top:-42%;padding-bottom:-42%;}
.n_pad_43{padding:-43%;}
.n_pad_left_43{padding-left:-43%;}
.n_pad_right_43{padding-right:-43%;}
.n_pad_top_43{padding-top:-43%;}
.n_pad_btm_43{padding-bottom:-43%;}
.n_pad_left_right_43{padding-left:-43%;padding-right:-43%;}
.n_pad_top_btm_43{padding-top:-43%;padding-bottom:-43%;}
.n_pad_44{padding:-44%;}
.n_pad_left_44{padding-left:-44%;}
.n_pad_right_44{padding-right:-44%;}
.n_pad_top_44{padding-top:-44%;}
.n_pad_btm_44{padding-bottom:-44%;}
.n_pad_left_right_44{padding-left:-44%;padding-right:-44%;}
.n_pad_top_btm_44{padding-top:-44%;padding-bottom:-44%;}
.n_pad_45{padding:-45%;}
.n_pad_left_45{padding-left:-45%;}
.n_pad_right_45{padding-right:-45%;}
.n_pad_top_45{padding-top:-45%;}
.n_pad_btm_45{padding-bottom:-45%;}
.n_pad_left_right_45{padding-left:-45%;padding-right:-45%;}
.n_pad_top_btm_45{padding-top:-45%;padding-bottom:-45%;}
.n_pad_46{padding:-46%;}
.n_pad_left_46{padding-left:-46%;}
.n_pad_right_46{padding-right:-46%;}
.n_pad_top_46{padding-top:-46%;}
.n_pad_btm_46{padding-bottom:-46%;}
.n_pad_left_right_46{padding-left:-46%;padding-right:-46%;}
.n_pad_top_btm_46{padding-top:-46%;padding-bottom:-46%;}
.n_pad_47{padding:-47%;}
.n_pad_left_47{padding-left:-47%;}
.n_pad_right_47{padding-right:-47%;}
.n_pad_top_47{padding-top:-47%;}
.n_pad_btm_47{padding-bottom:-47%;}
.n_pad_left_right_47{padding-left:-47%;padding-right:-47%;}
.n_pad_top_btm_47{padding-top:-47%;padding-bottom:-47%;}
.n_pad_48{padding:-48%;}
.n_pad_left_48{padding-left:-48%;}
.n_pad_right_48{padding-right:-48%;}
.n_pad_top_48{padding-top:-48%;}
.n_pad_btm_48{padding-bottom:-48%;}
.n_pad_left_right_48{padding-left:-48%;padding-right:-48%;}
.n_pad_top_btm_48{padding-top:-48%;padding-bottom:-48%;}
.n_pad_49{padding:-49%;}
.n_pad_left_49{padding-left:-49%;}
.n_pad_right_49{padding-right:-49%;}
.n_pad_top_49{padding-top:-49%;}
.n_pad_btm_49{padding-bottom:-49%;}
.n_pad_left_right_49{padding-left:-49%;padding-right:-49%;}
.n_pad_top_btm_49{padding-top:-49%;padding-bottom:-49%;}
.n_pad_50{padding:-50%;}
.n_pad_left_50{padding-left:-50%;}
.n_pad_right_50{padding-right:-50%;}
.n_pad_top_50{padding-top:-50%;}
.n_pad_btm_50{padding-bottom:-50%;}
.n_pad_left_right_50{padding-left:-50%;padding-right:-50%;}
.n_pad_top_btm_50{padding-top:-50%;padding-bottom:-50%;}
.n_pad_51{padding:-51%;}
.n_pad_left_51{padding-left:-51%;}
.n_pad_right_51{padding-right:-51%;}
.n_pad_top_51{padding-top:-51%;}
.n_pad_btm_51{padding-bottom:-51%;}
.n_pad_left_right_51{padding-left:-51%;padding-right:-51%;}
.n_pad_top_btm_51{padding-top:-51%;padding-bottom:-51%;}
.n_pad_52{padding:-52%;}
.n_pad_left_52{padding-left:-52%;}
.n_pad_right_52{padding-right:-52%;}
.n_pad_top_52{padding-top:-52%;}
.n_pad_btm_52{padding-bottom:-52%;}
.n_pad_left_right_52{padding-left:-52%;padding-right:-52%;}
.n_pad_top_btm_52{padding-top:-52%;padding-bottom:-52%;}
.n_pad_53{padding:-53%;}
.n_pad_left_53{padding-left:-53%;}
.n_pad_right_53{padding-right:-53%;}
.n_pad_top_53{padding-top:-53%;}
.n_pad_btm_53{padding-bottom:-53%;}
.n_pad_left_right_53{padding-left:-53%;padding-right:-53%;}
.n_pad_top_btm_53{padding-top:-53%;padding-bottom:-53%;}
.n_pad_54{padding:-54%;}
.n_pad_left_54{padding-left:-54%;}
.n_pad_right_54{padding-right:-54%;}
.n_pad_top_54{padding-top:-54%;}
.n_pad_btm_54{padding-bottom:-54%;}
.n_pad_left_right_54{padding-left:-54%;padding-right:-54%;}
.n_pad_top_btm_54{padding-top:-54%;padding-bottom:-54%;}
.n_pad_55{padding:-55%;}
.n_pad_left_55{padding-left:-55%;}
.n_pad_right_55{padding-right:-55%;}
.n_pad_top_55{padding-top:-55%;}
.n_pad_btm_55{padding-bottom:-55%;}
.n_pad_left_right_55{padding-left:-55%;padding-right:-55%;}
.n_pad_top_btm_55{padding-top:-55%;padding-bottom:-55%;}
.n_pad_56{padding:-56%;}
.n_pad_left_56{padding-left:-56%;}
.n_pad_right_56{padding-right:-56%;}
.n_pad_top_56{padding-top:-56%;}
.n_pad_btm_56{padding-bottom:-56%;}
.n_pad_left_right_56{padding-left:-56%;padding-right:-56%;}
.n_pad_top_btm_56{padding-top:-56%;padding-bottom:-56%;}
.n_pad_57{padding:-57%;}
.n_pad_left_57{padding-left:-57%;}
.n_pad_right_57{padding-right:-57%;}
.n_pad_top_57{padding-top:-57%;}
.n_pad_btm_57{padding-bottom:-57%;}
.n_pad_left_right_57{padding-left:-57%;padding-right:-57%;}
.n_pad_top_btm_57{padding-top:-57%;padding-bottom:-57%;}
.n_pad_58{padding:-58%;}
.n_pad_left_58{padding-left:-58%;}
.n_pad_right_58{padding-right:-58%;}
.n_pad_top_58{padding-top:-58%;}
.n_pad_btm_58{padding-bottom:-58%;}
.n_pad_left_right_58{padding-left:-58%;padding-right:-58%;}
.n_pad_top_btm_58{padding-top:-58%;padding-bottom:-58%;}
.n_pad_59{padding:-59%;}
.n_pad_left_59{padding-left:-59%;}
.n_pad_right_59{padding-right:-59%;}
.n_pad_top_59{padding-top:-59%;}
.n_pad_btm_59{padding-bottom:-59%;}
.n_pad_left_right_59{padding-left:-59%;padding-right:-59%;}
.n_pad_top_btm_59{padding-top:-59%;padding-bottom:-59%;}
.n_pad_60{padding:-60%;}
.n_pad_left_60{padding-left:-60%;}
.n_pad_right_60{padding-right:-60%;}
.n_pad_top_60{padding-top:-60%;}
.n_pad_btm_60{padding-bottom:-60%;}
.n_pad_left_right_60{padding-left:-60%;padding-right:-60%;}
.n_pad_top_btm_60{padding-top:-60%;padding-bottom:-60%;}
.n_pad_61{padding:-61%;}
.n_pad_left_61{padding-left:-61%;}
.n_pad_right_61{padding-right:-61%;}
.n_pad_top_61{padding-top:-61%;}
.n_pad_btm_61{padding-bottom:-61%;}
.n_pad_left_right_61{padding-left:-61%;padding-right:-61%;}
.n_pad_top_btm_61{padding-top:-61%;padding-bottom:-61%;}
.n_pad_62{padding:-62%;}
.n_pad_left_62{padding-left:-62%;}
.n_pad_right_62{padding-right:-62%;}
.n_pad_top_62{padding-top:-62%;}
.n_pad_btm_62{padding-bottom:-62%;}
.n_pad_left_right_62{padding-left:-62%;padding-right:-62%;}
.n_pad_top_btm_62{padding-top:-62%;padding-bottom:-62%;}
.n_pad_63{padding:-63%;}
.n_pad_left_63{padding-left:-63%;}
.n_pad_right_63{padding-right:-63%;}
.n_pad_top_63{padding-top:-63%;}
.n_pad_btm_63{padding-bottom:-63%;}
.n_pad_left_right_63{padding-left:-63%;padding-right:-63%;}
.n_pad_top_btm_63{padding-top:-63%;padding-bottom:-63%;}
.n_pad_64{padding:-64%;}
.n_pad_left_64{padding-left:-64%;}
.n_pad_right_64{padding-right:-64%;}
.n_pad_top_64{padding-top:-64%;}
.n_pad_btm_64{padding-bottom:-64%;}
.n_pad_left_right_64{padding-left:-64%;padding-right:-64%;}
.n_pad_top_btm_64{padding-top:-64%;padding-bottom:-64%;}
.n_pad_65{padding:-65%;}
.n_pad_left_65{padding-left:-65%;}
.n_pad_right_65{padding-right:-65%;}
.n_pad_top_65{padding-top:-65%;}
.n_pad_btm_65{padding-bottom:-65%;}
.n_pad_left_right_65{padding-left:-65%;padding-right:-65%;}
.n_pad_top_btm_65{padding-top:-65%;padding-bottom:-65%;}
.n_pad_66{padding:-66%;}
.n_pad_left_66{padding-left:-66%;}
.n_pad_right_66{padding-right:-66%;}
.n_pad_top_66{padding-top:-66%;}
.n_pad_btm_66{padding-bottom:-66%;}
.n_pad_left_right_66{padding-left:-66%;padding-right:-66%;}
.n_pad_top_btm_66{padding-top:-66%;padding-bottom:-66%;}
.n_pad_67{padding:-67%;}
.n_pad_left_67{padding-left:-67%;}
.n_pad_right_67{padding-right:-67%;}
.n_pad_top_67{padding-top:-67%;}
.n_pad_btm_67{padding-bottom:-67%;}
.n_pad_left_right_67{padding-left:-67%;padding-right:-67%;}
.n_pad_top_btm_67{padding-top:-67%;padding-bottom:-67%;}
.n_pad_68{padding:-68%;}
.n_pad_left_68{padding-left:-68%;}
.n_pad_right_68{padding-right:-68%;}
.n_pad_top_68{padding-top:-68%;}
.n_pad_btm_68{padding-bottom:-68%;}
.n_pad_left_right_68{padding-left:-68%;padding-right:-68%;}
.n_pad_top_btm_68{padding-top:-68%;padding-bottom:-68%;}
.n_pad_69{padding:-69%;}
.n_pad_left_69{padding-left:-69%;}
.n_pad_right_69{padding-right:-69%;}
.n_pad_top_69{padding-top:-69%;}
.n_pad_btm_69{padding-bottom:-69%;}
.n_pad_left_right_69{padding-left:-69%;padding-right:-69%;}
.n_pad_top_btm_69{padding-top:-69%;padding-bottom:-69%;}
.n_pad_70{padding:-70%;}
.n_pad_left_70{padding-left:-70%;}
.n_pad_right_70{padding-right:-70%;}
.n_pad_top_70{padding-top:-70%;}
.n_pad_btm_70{padding-bottom:-70%;}
.n_pad_left_right_70{padding-left:-70%;padding-right:-70%;}
.n_pad_top_btm_70{padding-top:-70%;padding-bottom:-70%;}
.n_pad_71{padding:-71%;}
.n_pad_left_71{padding-left:-71%;}
.n_pad_right_71{padding-right:-71%;}
.n_pad_top_71{padding-top:-71%;}
.n_pad_btm_71{padding-bottom:-71%;}
.n_pad_left_right_71{padding-left:-71%;padding-right:-71%;}
.n_pad_top_btm_71{padding-top:-71%;padding-bottom:-71%;}
.n_pad_72{padding:-72%;}
.n_pad_left_72{padding-left:-72%;}
.n_pad_right_72{padding-right:-72%;}
.n_pad_top_72{padding-top:-72%;}
.n_pad_btm_72{padding-bottom:-72%;}
.n_pad_left_right_72{padding-left:-72%;padding-right:-72%;}
.n_pad_top_btm_72{padding-top:-72%;padding-bottom:-72%;}
.n_pad_73{padding:-73%;}
.n_pad_left_73{padding-left:-73%;}
.n_pad_right_73{padding-right:-73%;}
.n_pad_top_73{padding-top:-73%;}
.n_pad_btm_73{padding-bottom:-73%;}
.n_pad_left_right_73{padding-left:-73%;padding-right:-73%;}
.n_pad_top_btm_73{padding-top:-73%;padding-bottom:-73%;}
.n_pad_74{padding:-74%;}
.n_pad_left_74{padding-left:-74%;}
.n_pad_right_74{padding-right:-74%;}
.n_pad_top_74{padding-top:-74%;}
.n_pad_btm_74{padding-bottom:-74%;}
.n_pad_left_right_74{padding-left:-74%;padding-right:-74%;}
.n_pad_top_btm_74{padding-top:-74%;padding-bottom:-74%;}
.n_pad_75{padding:-75%;}
.n_pad_left_75{padding-left:-75%;}
.n_pad_right_75{padding-right:-75%;}
.n_pad_top_75{padding-top:-75%;}
.n_pad_btm_75{padding-bottom:-75%;}
.n_pad_left_right_75{padding-left:-75%;padding-right:-75%;}
.n_pad_top_btm_75{padding-top:-75%;padding-bottom:-75%;}
.n_pad_76{padding:-76%;}
.n_pad_left_76{padding-left:-76%;}
.n_pad_right_76{padding-right:-76%;}
.n_pad_top_76{padding-top:-76%;}
.n_pad_btm_76{padding-bottom:-76%;}
.n_pad_left_right_76{padding-left:-76%;padding-right:-76%;}
.n_pad_top_btm_76{padding-top:-76%;padding-bottom:-76%;}
.n_pad_77{padding:-77%;}
.n_pad_left_77{padding-left:-77%;}
.n_pad_right_77{padding-right:-77%;}
.n_pad_top_77{padding-top:-77%;}
.n_pad_btm_77{padding-bottom:-77%;}
.n_pad_left_right_77{padding-left:-77%;padding-right:-77%;}
.n_pad_top_btm_77{padding-top:-77%;padding-bottom:-77%;}
.n_pad_78{padding:-78%;}
.n_pad_left_78{padding-left:-78%;}
.n_pad_right_78{padding-right:-78%;}
.n_pad_top_78{padding-top:-78%;}
.n_pad_btm_78{padding-bottom:-78%;}
.n_pad_left_right_78{padding-left:-78%;padding-right:-78%;}
.n_pad_top_btm_78{padding-top:-78%;padding-bottom:-78%;}
.n_pad_79{padding:-79%;}
.n_pad_left_79{padding-left:-79%;}
.n_pad_right_79{padding-right:-79%;}
.n_pad_top_79{padding-top:-79%;}
.n_pad_btm_79{padding-bottom:-79%;}
.n_pad_left_right_79{padding-left:-79%;padding-right:-79%;}
.n_pad_top_btm_79{padding-top:-79%;padding-bottom:-79%;}
.n_pad_80{padding:-80%;}
.n_pad_left_80{padding-left:-80%;}
.n_pad_right_80{padding-right:-80%;}
.n_pad_top_80{padding-top:-80%;}
.n_pad_btm_80{padding-bottom:-80%;}
.n_pad_left_right_80{padding-left:-80%;padding-right:-80%;}
.n_pad_top_btm_80{padding-top:-80%;padding-bottom:-80%;}
.n_pad_81{padding:-81%;}
.n_pad_left_81{padding-left:-81%;}
.n_pad_right_81{padding-right:-81%;}
.n_pad_top_81{padding-top:-81%;}
.n_pad_btm_81{padding-bottom:-81%;}
.n_pad_left_right_81{padding-left:-81%;padding-right:-81%;}
.n_pad_top_btm_81{padding-top:-81%;padding-bottom:-81%;}
.n_pad_82{padding:-82%;}
.n_pad_left_82{padding-left:-82%;}
.n_pad_right_82{padding-right:-82%;}
.n_pad_top_82{padding-top:-82%;}
.n_pad_btm_82{padding-bottom:-82%;}
.n_pad_left_right_82{padding-left:-82%;padding-right:-82%;}
.n_pad_top_btm_82{padding-top:-82%;padding-bottom:-82%;}
.n_pad_83{padding:-83%;}
.n_pad_left_83{padding-left:-83%;}
.n_pad_right_83{padding-right:-83%;}
.n_pad_top_83{padding-top:-83%;}
.n_pad_btm_83{padding-bottom:-83%;}
.n_pad_left_right_83{padding-left:-83%;padding-right:-83%;}
.n_pad_top_btm_83{padding-top:-83%;padding-bottom:-83%;}
.n_pad_84{padding:-84%;}
.n_pad_left_84{padding-left:-84%;}
.n_pad_right_84{padding-right:-84%;}
.n_pad_top_84{padding-top:-84%;}
.n_pad_btm_84{padding-bottom:-84%;}
.n_pad_left_right_84{padding-left:-84%;padding-right:-84%;}
.n_pad_top_btm_84{padding-top:-84%;padding-bottom:-84%;}
.n_pad_85{padding:-85%;}
.n_pad_left_85{padding-left:-85%;}
.n_pad_right_85{padding-right:-85%;}
.n_pad_top_85{padding-top:-85%;}
.n_pad_btm_85{padding-bottom:-85%;}
.n_pad_left_right_85{padding-left:-85%;padding-right:-85%;}
.n_pad_top_btm_85{padding-top:-85%;padding-bottom:-85%;}
.n_pad_86{padding:-86%;}
.n_pad_left_86{padding-left:-86%;}
.n_pad_right_86{padding-right:-86%;}
.n_pad_top_86{padding-top:-86%;}
.n_pad_btm_86{padding-bottom:-86%;}
.n_pad_left_right_86{padding-left:-86%;padding-right:-86%;}
.n_pad_top_btm_86{padding-top:-86%;padding-bottom:-86%;}
.n_pad_87{padding:-87%;}
.n_pad_left_87{padding-left:-87%;}
.n_pad_right_87{padding-right:-87%;}
.n_pad_top_87{padding-top:-87%;}
.n_pad_btm_87{padding-bottom:-87%;}
.n_pad_left_right_87{padding-left:-87%;padding-right:-87%;}
.n_pad_top_btm_87{padding-top:-87%;padding-bottom:-87%;}
.n_pad_88{padding:-88%;}
.n_pad_left_88{padding-left:-88%;}
.n_pad_right_88{padding-right:-88%;}
.n_pad_top_88{padding-top:-88%;}
.n_pad_btm_88{padding-bottom:-88%;}
.n_pad_left_right_88{padding-left:-88%;padding-right:-88%;}
.n_pad_top_btm_88{padding-top:-88%;padding-bottom:-88%;}
.n_pad_89{padding:-89%;}
.n_pad_left_89{padding-left:-89%;}
.n_pad_right_89{padding-right:-89%;}
.n_pad_top_89{padding-top:-89%;}
.n_pad_btm_89{padding-bottom:-89%;}
.n_pad_left_right_89{padding-left:-89%;padding-right:-89%;}
.n_pad_top_btm_89{padding-top:-89%;padding-bottom:-89%;}
.n_pad_90{padding:-90%;}
.n_pad_left_90{padding-left:-90%;}
.n_pad_right_90{padding-right:-90%;}
.n_pad_top_90{padding-top:-90%;}
.n_pad_btm_90{padding-bottom:-90%;}
.n_pad_left_right_90{padding-left:-90%;padding-right:-90%;}
.n_pad_top_btm_90{padding-top:-90%;padding-bottom:-90%;}
.n_pad_91{padding:-91%;}
.n_pad_left_91{padding-left:-91%;}
.n_pad_right_91{padding-right:-91%;}
.n_pad_top_91{padding-top:-91%;}
.n_pad_btm_91{padding-bottom:-91%;}
.n_pad_left_right_91{padding-left:-91%;padding-right:-91%;}
.n_pad_top_btm_91{padding-top:-91%;padding-bottom:-91%;}
.n_pad_92{padding:-92%;}
.n_pad_left_92{padding-left:-92%;}
.n_pad_right_92{padding-right:-92%;}
.n_pad_top_92{padding-top:-92%;}
.n_pad_btm_92{padding-bottom:-92%;}
.n_pad_left_right_92{padding-left:-92%;padding-right:-92%;}
.n_pad_top_btm_92{padding-top:-92%;padding-bottom:-92%;}
.n_pad_93{padding:-93%;}
.n_pad_left_93{padding-left:-93%;}
.n_pad_right_93{padding-right:-93%;}
.n_pad_top_93{padding-top:-93%;}
.n_pad_btm_93{padding-bottom:-93%;}
.n_pad_left_right_93{padding-left:-93%;padding-right:-93%;}
.n_pad_top_btm_93{padding-top:-93%;padding-bottom:-93%;}
.n_pad_94{padding:-94%;}
.n_pad_left_94{padding-left:-94%;}
.n_pad_right_94{padding-right:-94%;}
.n_pad_top_94{padding-top:-94%;}
.n_pad_btm_94{padding-bottom:-94%;}
.n_pad_left_right_94{padding-left:-94%;padding-right:-94%;}
.n_pad_top_btm_94{padding-top:-94%;padding-bottom:-94%;}
.n_pad_95{padding:-95%;}
.n_pad_left_95{padding-left:-95%;}
.n_pad_right_95{padding-right:-95%;}
.n_pad_top_95{padding-top:-95%;}
.n_pad_btm_95{padding-bottom:-95%;}
.n_pad_left_right_95{padding-left:-95%;padding-right:-95%;}
.n_pad_top_btm_95{padding-top:-95%;padding-bottom:-95%;}
.n_pad_96{padding:-96%;}
.n_pad_left_96{padding-left:-96%;}
.n_pad_right_96{padding-right:-96%;}
.n_pad_top_96{padding-top:-96%;}
.n_pad_btm_96{padding-bottom:-96%;}
.n_pad_left_right_96{padding-left:-96%;padding-right:-96%;}
.n_pad_top_btm_96{padding-top:-96%;padding-bottom:-96%;}
.n_pad_97{padding:-97%;}
.n_pad_left_97{padding-left:-97%;}
.n_pad_right_97{padding-right:-97%;}
.n_pad_top_97{padding-top:-97%;}
.n_pad_btm_97{padding-bottom:-97%;}
.n_pad_left_right_97{padding-left:-97%;padding-right:-97%;}
.n_pad_top_btm_97{padding-top:-97%;padding-bottom:-97%;}
.n_pad_98{padding:-98%;}
.n_pad_left_98{padding-left:-98%;}
.n_pad_right_98{padding-right:-98%;}
.n_pad_top_98{padding-top:-98%;}
.n_pad_btm_98{padding-bottom:-98%;}
.n_pad_left_right_98{padding-left:-98%;padding-right:-98%;}
.n_pad_top_btm_98{padding-top:-98%;padding-bottom:-98%;}
.n_pad_99{padding:-99%;}
.n_pad_left_99{padding-left:-99%;}
.n_pad_right_99{padding-right:-99%;}
.n_pad_top_99{padding-top:-99%;}
.n_pad_btm_99{padding-bottom:-99%;}
.n_pad_left_right_99{padding-left:-99%;padding-right:-99%;}
.n_pad_top_btm_99{padding-top:-99%;padding-bottom:-99%;}
.n_pad_100{padding:-100%;}
.n_pad_left_100{padding-left:-100%;}
.n_pad_right_100{padding-right:-100%;}
.n_pad_top_100{padding-top:-100%;}
.n_pad_btm_100{padding-bottom:-100%;}
.n_pad_left_right_100{padding-left:-100%;padding-right:-100%;}
.n_pad_top_btm_100{padding-top:-100%;padding-bottom:-100%;}
/* ********************************************** */
/* ************ POSITIVE MARGIN ***************** */
/* ********************************************** */
.n_mrgn_1{margin:-1%;}
.n_mrgn_left_1{margin-left:-1%;}
.n_mrgn_right_1{margin-right:-1%;}
.n_mrgn_top_1{margin-top:-1%;}
.n_mrgn_btm_1{margin-bottom:-1%;}
.n_mrgn_left_right_1{margin-left:-1%;margin-right:-1%;}
.n_mrgn_top_btm_1{margin-top:-1%;margin-bottom:-1%;}
.n_mrgn_2{margin:-2%;}
.n_mrgn_left_2{margin-left:-2%;}
.n_mrgn_right_2{margin-right:-2%;}
.n_mrgn_top_2{margin-top:-2%;}
.n_mrgn_btm_2{margin-bottom:-2%;}
.n_mrgn_left_right_2{margin-left:-2%;margin-right:-2%;}
.n_mrgn_top_btm_2{margin-top:-2%;margin-bottom:-2%;}
.n_mrgn_3{margin:-3%;}
.n_mrgn_left_3{margin-left:-3%;}
.n_mrgn_right_3{margin-right:-3%;}
.n_mrgn_top_3{margin-top:-3%;}
.n_mrgn_btm_3{margin-bottom:-3%;}
.n_mrgn_left_right_3{margin-left:-3%;margin-right:-3%;}
.n_mrgn_top_btm_3{margin-top:-3%;margin-bottom:-3%;}
.n_mrgn_4{margin:-4%;}
.n_mrgn_left_4{margin-left:-4%;}
.n_mrgn_right_4{margin-right:-4%;}
.n_mrgn_top_4{margin-top:-4%;}
.n_mrgn_btm_4{margin-bottom:-4%;}
.n_mrgn_left_right_4{margin-left:-4%;margin-right:-4%;}
.n_mrgn_top_btm_4{margin-top:-4%;margin-bottom:-4%;}
.n_mrgn_5{margin:-5%;}
.n_mrgn_left_5{margin-left:-5%;}
.n_mrgn_right_5{margin-right:-5%;}
.n_mrgn_top_5{margin-top:-5%;}
.n_mrgn_btm_5{margin-bottom:-5%;}
.n_mrgn_left_right_5{margin-left:-5%;margin-right:-5%;}
.n_mrgn_top_btm_5{margin-top:-5%;margin-bottom:-5%;}
.n_mrgn_6{margin:-6%;}
.n_mrgn_left_6{margin-left:-6%;}
.n_mrgn_right_6{margin-right:-6%;}
.n_mrgn_top_6{margin-top:-6%;}
.n_mrgn_btm_6{margin-bottom:-6%;}
.n_mrgn_left_right_6{margin-left:-6%;margin-right:-6%;}
.n_mrgn_top_btm_6{margin-top:-6%;margin-bottom:-6%;}
.n_mrgn_7{margin:-7%;}
.n_mrgn_left_7{margin-left:-7%;}
.n_mrgn_right_7{margin-right:-7%;}
.n_mrgn_top_7{margin-top:-7%;}
.n_mrgn_btm_7{margin-bottom:-7%;}
.n_mrgn_left_right_7{margin-left:-7%;margin-right:-7%;}
.n_mrgn_top_btm_7{margin-top:-7%;margin-bottom:-7%;}
.n_mrgn_8{margin:-8%;}
.n_mrgn_left_8{margin-left:-8%;}
.n_mrgn_right_8{margin-right:-8%;}
.n_mrgn_top_8{margin-top:-8%;}
.n_mrgn_btm_8{margin-bottom:-8%;}
.n_mrgn_left_right_8{margin-left:-8%;margin-right:-8%;}
.n_mrgn_top_btm_8{margin-top:-8%;margin-bottom:-8%;}
.n_mrgn_9{margin:-9%;}
.n_mrgn_left_9{margin-left:-9%;}
.n_mrgn_right_9{margin-right:-9%;}
.n_mrgn_top_9{margin-top:-9%;}
.n_mrgn_btm_9{margin-bottom:-9%;}
.n_mrgn_left_right_9{margin-left:-9%;margin-right:-9%;}
.n_mrgn_top_btm_9{margin-top:-9%;margin-bottom:-9%;}
.n_mrgn_10{margin:-10%;}
.n_mrgn_left_10{margin-left:-10%;}
.n_mrgn_right_10{margin-right:-10%;}
.n_mrgn_top_10{margin-top:-10%;}
.n_mrgn_btm_10{margin-bottom:-10%;}
.n_mrgn_left_right_10{margin-left:-10%;margin-right:-10%;}
.n_mrgn_top_btm_10{margin-top:-10%;margin-bottom:-10%;}
.n_mrgn_11{margin:-11%;}
.n_mrgn_left_11{margin-left:-11%;}
.n_mrgn_right_11{margin-right:-11%;}
.n_mrgn_top_11{margin-top:-11%;}
.n_mrgn_btm_11{margin-bottom:-11%;}
.n_mrgn_left_right_11{margin-left:-11%;margin-right:-11%;}
.n_mrgn_top_btm_11{margin-top:-11%;margin-bottom:-11%;}
.n_mrgn_12{margin:-12%;}
.n_mrgn_left_12{margin-left:-12%;}
.n_mrgn_right_12{margin-right:-12%;}
.n_mrgn_top_12{margin-top:-12%;}
.n_mrgn_btm_12{margin-bottom:-12%;}
.n_mrgn_left_right_12{margin-left:-12%;margin-right:-12%;}
.n_mrgn_top_btm_12{margin-top:-12%;margin-bottom:-12%;}
.n_mrgn_13{margin:-13%;}
.n_mrgn_left_13{margin-left:-13%;}
.n_mrgn_right_13{margin-right:-13%;}
.n_mrgn_top_13{margin-top:-13%;}
.n_mrgn_btm_13{margin-bottom:-13%;}
.n_mrgn_left_right_13{margin-left:-13%;margin-right:-13%;}
.n_mrgn_top_btm_13{margin-top:-13%;margin-bottom:-13%;}
.n_mrgn_14{margin:-14%;}
.n_mrgn_left_14{margin-left:-14%;}
.n_mrgn_right_14{margin-right:-14%;}
.n_mrgn_top_14{margin-top:-14%;}
.n_mrgn_btm_14{margin-bottom:-14%;}
.n_mrgn_left_right_14{margin-left:-14%;margin-right:-14%;}
.n_mrgn_top_btm_14{margin-top:-14%;margin-bottom:-14%;}
.n_mrgn_15{margin:-15%;}
.n_mrgn_left_15{margin-left:-15%;}
.n_mrgn_right_15{margin-right:-15%;}
.n_mrgn_top_15{margin-top:-15%;}
.n_mrgn_btm_15{margin-bottom:-15%;}
.n_mrgn_left_right_15{margin-left:-15%;margin-right:-15%;}
.n_mrgn_top_btm_15{margin-top:-15%;margin-bottom:-15%;}
.n_mrgn_16{margin:-16%;}
.n_mrgn_left_16{margin-left:-16%;}
.n_mrgn_right_16{margin-right:-16%;}
.n_mrgn_top_16{margin-top:-16%;}
.n_mrgn_btm_16{margin-bottom:-16%;}
.n_mrgn_left_right_16{margin-left:-16%;margin-right:-16%;}
.n_mrgn_top_btm_16{margin-top:-16%;margin-bottom:-16%;}
.n_mrgn_17{margin:-17%;}
.n_mrgn_left_17{margin-left:-17%;}
.n_mrgn_right_17{margin-right:-17%;}
.n_mrgn_top_17{margin-top:-17%;}
.n_mrgn_btm_17{margin-bottom:-17%;}
.n_mrgn_left_right_17{margin-left:-17%;margin-right:-17%;}
.n_mrgn_top_btm_17{margin-top:-17%;margin-bottom:-17%;}
.n_mrgn_18{margin:-18%;}
.n_mrgn_left_18{margin-left:-18%;}
.n_mrgn_right_18{margin-right:-18%;}
.n_mrgn_top_18{margin-top:-18%;}
.n_mrgn_btm_18{margin-bottom:-18%;}
.n_mrgn_left_right_18{margin-left:-18%;margin-right:-18%;}
.n_mrgn_top_btm_18{margin-top:-18%;margin-bottom:-18%;}
.n_mrgn_19{margin:-19%;}
.n_mrgn_left_19{margin-left:-19%;}
.n_mrgn_right_19{margin-right:-19%;}
.n_mrgn_top_19{margin-top:-19%;}
.n_mrgn_btm_19{margin-bottom:-19%;}
.n_mrgn_left_right_19{margin-left:-19%;margin-right:-19%;}
.n_mrgn_top_btm_19{margin-top:-19%;margin-bottom:-19%;}
.n_mrgn_20{margin:-20%;}
.n_mrgn_left_20{margin-left:-20%;}
.n_mrgn_right_20{margin-right:-20%;}
.n_mrgn_top_20{margin-top:-20%;}
.n_mrgn_btm_20{margin-bottom:-20%;}
.n_mrgn_left_right_20{margin-left:-20%;margin-right:-20%;}
.n_mrgn_top_btm_20{margin-top:-20%;margin-bottom:-20%;}
.n_mrgn_21{margin:-21%;}
.n_mrgn_left_21{margin-left:-21%;}
.n_mrgn_right_21{margin-right:-21%;}
.n_mrgn_top_21{margin-top:-21%;}
.n_mrgn_btm_21{margin-bottom:-21%;}
.n_mrgn_left_right_21{margin-left:-21%;margin-right:-21%;}
.n_mrgn_top_btm_21{margin-top:-21%;margin-bottom:-21%;}
.n_mrgn_22{margin:-22%;}
.n_mrgn_left_22{margin-left:-22%;}
.n_mrgn_right_22{margin-right:-22%;}
.n_mrgn_top_22{margin-top:-22%;}
.n_mrgn_btm_22{margin-bottom:-22%;}
.n_mrgn_left_right_22{margin-left:-22%;margin-right:-22%;}
.n_mrgn_top_btm_22{margin-top:-22%;margin-bottom:-22%;}
.n_mrgn_23{margin:-23%;}
.n_mrgn_left_23{margin-left:-23%;}
.n_mrgn_right_23{margin-right:-23%;}
.n_mrgn_top_23{margin-top:-23%;}
.n_mrgn_btm_23{margin-bottom:-23%;}
.n_mrgn_left_right_23{margin-left:-23%;margin-right:-23%;}
.n_mrgn_top_btm_23{margin-top:-23%;margin-bottom:-23%;}
.n_mrgn_24{margin:-24%;}
.n_mrgn_left_24{margin-left:-24%;}
.n_mrgn_right_24{margin-right:-24%;}
.n_mrgn_top_24{margin-top:-24%;}
.n_mrgn_btm_24{margin-bottom:-24%;}
.n_mrgn_left_right_24{margin-left:-24%;margin-right:-24%;}
.n_mrgn_top_btm_24{margin-top:-24%;margin-bottom:-24%;}
.n_mrgn_25{margin:-25%;}
.n_mrgn_left_25{margin-left:-25%;}
.n_mrgn_right_25{margin-right:-25%;}
.n_mrgn_top_25{margin-top:-25%;}
.n_mrgn_btm_25{margin-bottom:-25%;}
.n_mrgn_left_right_25{margin-left:-25%;margin-right:-25%;}
.n_mrgn_top_btm_25{margin-top:-25%;margin-bottom:-25%;}
.n_mrgn_26{margin:-26%;}
.n_mrgn_left_26{margin-left:-26%;}
.n_mrgn_right_26{margin-right:-26%;}
.n_mrgn_top_26{margin-top:-26%;}
.n_mrgn_btm_26{margin-bottom:-26%;}
.n_mrgn_left_right_26{margin-left:-26%;margin-right:-26%;}
.n_mrgn_top_btm_26{margin-top:-26%;margin-bottom:-26%;}
.n_mrgn_27{margin:-27%;}
.n_mrgn_left_27{margin-left:-27%;}
.n_mrgn_right_27{margin-right:-27%;}
.n_mrgn_top_27{margin-top:-27%;}
.n_mrgn_btm_27{margin-bottom:-27%;}
.n_mrgn_left_right_27{margin-left:-27%;margin-right:-27%;}
.n_mrgn_top_btm_27{margin-top:-27%;margin-bottom:-27%;}
.n_mrgn_28{margin:-28%;}
.n_mrgn_left_28{margin-left:-28%;}
.n_mrgn_right_28{margin-right:-28%;}
.n_mrgn_top_28{margin-top:-28%;}
.n_mrgn_btm_28{margin-bottom:-28%;}
.n_mrgn_left_right_28{margin-left:-28%;margin-right:-28%;}
.n_mrgn_top_btm_28{margin-top:-28%;margin-bottom:-28%;}
.n_mrgn_29{margin:-29%;}
.n_mrgn_left_29{margin-left:-29%;}
.n_mrgn_right_29{margin-right:-29%;}
.n_mrgn_top_29{margin-top:-29%;}
.n_mrgn_btm_29{margin-bottom:-29%;}
.n_mrgn_left_right_29{margin-left:-29%;margin-right:-29%;}
.n_mrgn_top_btm_29{margin-top:-29%;margin-bottom:-29%;}
.n_mrgn_30{margin:-30%;}
.n_mrgn_left_30{margin-left:-30%;}
.n_mrgn_right_30{margin-right:-30%;}
.n_mrgn_top_30{margin-top:-30%;}
.n_mrgn_btm_30{margin-bottom:-30%;}
.n_mrgn_left_right_30{margin-left:-30%;margin-right:-30%;}
.n_mrgn_top_btm_30{margin-top:-30%;margin-bottom:-30%;}
.n_mrgn_31{margin:-31%;}
.n_mrgn_left_31{margin-left:-31%;}
.n_mrgn_right_31{margin-right:-31%;}
.n_mrgn_top_31{margin-top:-31%;}
.n_mrgn_btm_31{margin-bottom:-31%;}
.n_mrgn_left_right_31{margin-left:-31%;margin-right:-31%;}
.n_mrgn_top_btm_31{margin-top:-31%;margin-bottom:-31%;}
.n_mrgn_32{margin:-32%;}
.n_mrgn_left_32{margin-left:-32%;}
.n_mrgn_right_32{margin-right:-32%;}
.n_mrgn_top_32{margin-top:-32%;}
.n_mrgn_btm_32{margin-bottom:-32%;}
.n_mrgn_left_right_32{margin-left:-32%;margin-right:-32%;}
.n_mrgn_top_btm_32{margin-top:-32%;margin-bottom:-32%;}
.n_mrgn_33{margin:-33%;}
.n_mrgn_left_33{margin-left:-33%;}
.n_mrgn_right_33{margin-right:-33%;}
.n_mrgn_top_33{margin-top:-33%;}
.n_mrgn_btm_33{margin-bottom:-33%;}
.n_mrgn_left_right_33{margin-left:-33%;margin-right:-33%;}
.n_mrgn_top_btm_33{margin-top:-33%;margin-bottom:-33%;}
.n_mrgn_34{margin:-34%;}
.n_mrgn_left_34{margin-left:-34%;}
.n_mrgn_right_34{margin-right:-34%;}
.n_mrgn_top_34{margin-top:-34%;}
.n_mrgn_btm_34{margin-bottom:-34%;}
.n_mrgn_left_right_34{margin-left:-34%;margin-right:-34%;}
.n_mrgn_top_btm_34{margin-top:-34%;margin-bottom:-34%;}
.n_mrgn_35{margin:-35%;}
.n_mrgn_left_35{margin-left:-35%;}
.n_mrgn_right_35{margin-right:-35%;}
.n_mrgn_top_35{margin-top:-35%;}
.n_mrgn_btm_35{margin-bottom:-35%;}
.n_mrgn_left_right_35{margin-left:-35%;margin-right:-35%;}
.n_mrgn_top_btm_35{margin-top:-35%;margin-bottom:-35%;}
.n_mrgn_36{margin:-36%;}
.n_mrgn_left_36{margin-left:-36%;}
.n_mrgn_right_36{margin-right:-36%;}
.n_mrgn_top_36{margin-top:-36%;}
.n_mrgn_btm_36{margin-bottom:-36%;}
.n_mrgn_left_right_36{margin-left:-36%;margin-right:-36%;}
.n_mrgn_top_btm_36{margin-top:-36%;margin-bottom:-36%;}
.n_mrgn_37{margin:-37%;}
.n_mrgn_left_37{margin-left:-37%;}
.n_mrgn_right_37{margin-right:-37%;}
.n_mrgn_top_37{margin-top:-37%;}
.n_mrgn_btm_37{margin-bottom:-37%;}
.n_mrgn_left_right_37{margin-left:-37%;margin-right:-37%;}
.n_mrgn_top_btm_37{margin-top:-37%;margin-bottom:-37%;}
.n_mrgn_38{margin:-38%;}
.n_mrgn_left_38{margin-left:-38%;}
.n_mrgn_right_38{margin-right:-38%;}
.n_mrgn_top_38{margin-top:-38%;}
.n_mrgn_btm_38{margin-bottom:-38%;}
.n_mrgn_left_right_38{margin-left:-38%;margin-right:-38%;}
.n_mrgn_top_btm_38{margin-top:-38%;margin-bottom:-38%;}
.n_mrgn_39{margin:-39%;}
.n_mrgn_left_39{margin-left:-39%;}
.n_mrgn_right_39{margin-right:-39%;}
.n_mrgn_top_39{margin-top:-39%;}
.n_mrgn_btm_39{margin-bottom:-39%;}
.n_mrgn_left_right_39{margin-left:-39%;margin-right:-39%;}
.n_mrgn_top_btm_39{margin-top:-39%;margin-bottom:-39%;}
.n_mrgn_40{margin:-40%;}
.n_mrgn_left_40{margin-left:-40%;}
.n_mrgn_right_40{margin-right:-40%;}
.n_mrgn_top_40{margin-top:-40%;}
.n_mrgn_btm_40{margin-bottom:-40%;}
.n_mrgn_left_right_40{margin-left:-40%;margin-right:-40%;}
.n_mrgn_top_btm_40{margin-top:-40%;margin-bottom:-40%;}
.n_mrgn_41{margin:-41%;}
.n_mrgn_left_41{margin-left:-41%;}
.n_mrgn_right_41{margin-right:-41%;}
.n_mrgn_top_41{margin-top:-41%;}
.n_mrgn_btm_41{margin-bottom:-41%;}
.n_mrgn_left_right_41{margin-left:-41%;margin-right:-41%;}
.n_mrgn_top_btm_41{margin-top:-41%;margin-bottom:-41%;}
.n_mrgn_42{margin:-42%;}
.n_mrgn_left_42{margin-left:-42%;}
.n_mrgn_right_42{margin-right:-42%;}
.n_mrgn_top_42{margin-top:-42%;}
.n_mrgn_btm_42{margin-bottom:-42%;}
.n_mrgn_left_right_42{margin-left:-42%;margin-right:-42%;}
.n_mrgn_top_btm_42{margin-top:-42%;margin-bottom:-42%;}
.n_mrgn_43{margin:-43%;}
.n_mrgn_left_43{margin-left:-43%;}
.n_mrgn_right_43{margin-right:-43%;}
.n_mrgn_top_43{margin-top:-43%;}
.n_mrgn_btm_43{margin-bottom:-43%;}
.n_mrgn_left_right_43{margin-left:-43%;margin-right:-43%;}
.n_mrgn_top_btm_43{margin-top:-43%;margin-bottom:-43%;}
.n_mrgn_44{margin:-44%;}
.n_mrgn_left_44{margin-left:-44%;}
.n_mrgn_right_44{margin-right:-44%;}
.n_mrgn_top_44{margin-top:-44%;}
.n_mrgn_btm_44{margin-bottom:-44%;}
.n_mrgn_left_right_44{margin-left:-44%;margin-right:-44%;}
.n_mrgn_top_btm_44{margin-top:-44%;margin-bottom:-44%;}
.n_mrgn_45{margin:-45%;}
.n_mrgn_left_45{margin-left:-45%;}
.n_mrgn_right_45{margin-right:-45%;}
.n_mrgn_top_45{margin-top:-45%;}
.n_mrgn_btm_45{margin-bottom:-45%;}
.n_mrgn_left_right_45{margin-left:-45%;margin-right:-45%;}
.n_mrgn_top_btm_45{margin-top:-45%;margin-bottom:-45%;}
.n_mrgn_46{margin:-46%;}
.n_mrgn_left_46{margin-left:-46%;}
.n_mrgn_right_46{margin-right:-46%;}
.n_mrgn_top_46{margin-top:-46%;}
.n_mrgn_btm_46{margin-bottom:-46%;}
.n_mrgn_left_right_46{margin-left:-46%;margin-right:-46%;}
.n_mrgn_top_btm_46{margin-top:-46%;margin-bottom:-46%;}
.n_mrgn_47{margin:-47%;}
.n_mrgn_left_47{margin-left:-47%;}
.n_mrgn_right_47{margin-right:-47%;}
.n_mrgn_top_47{margin-top:-47%;}
.n_mrgn_btm_47{margin-bottom:-47%;}
.n_mrgn_left_right_47{margin-left:-47%;margin-right:-47%;}
.n_mrgn_top_btm_47{margin-top:-47%;margin-bottom:-47%;}
.n_mrgn_48{margin:-48%;}
.n_mrgn_left_48{margin-left:-48%;}
.n_mrgn_right_48{margin-right:-48%;}
.n_mrgn_top_48{margin-top:-48%;}
.n_mrgn_btm_48{margin-bottom:-48%;}
.n_mrgn_left_right_48{margin-left:-48%;margin-right:-48%;}
.n_mrgn_top_btm_48{margin-top:-48%;margin-bottom:-48%;}
.n_mrgn_49{margin:-49%;}
.n_mrgn_left_49{margin-left:-49%;}
.n_mrgn_right_49{margin-right:-49%;}
.n_mrgn_top_49{margin-top:-49%;}
.n_mrgn_btm_49{margin-bottom:-49%;}
.n_mrgn_left_right_49{margin-left:-49%;margin-right:-49%;}
.n_mrgn_top_btm_49{margin-top:-49%;margin-bottom:-49%;}
.n_mrgn_50{margin:-50%;}
.n_mrgn_left_50{margin-left:-50%;}
.n_mrgn_right_50{margin-right:-50%;}
.n_mrgn_top_50{margin-top:-50%;}
.n_mrgn_btm_50{margin-bottom:-50%;}
.n_mrgn_left_right_50{margin-left:-50%;margin-right:-50%;}
.n_mrgn_top_btm_50{margin-top:-50%;margin-bottom:-50%;}
.n_mrgn_51{margin:-51%;}
.n_mrgn_left_51{margin-left:-51%;}
.n_mrgn_right_51{margin-right:-51%;}
.n_mrgn_top_51{margin-top:-51%;}
.n_mrgn_btm_51{margin-bottom:-51%;}
.n_mrgn_left_right_51{margin-left:-51%;margin-right:-51%;}
.n_mrgn_top_btm_51{margin-top:-51%;margin-bottom:-51%;}
.n_mrgn_52{margin:-52%;}
.n_mrgn_left_52{margin-left:-52%;}
.n_mrgn_right_52{margin-right:-52%;}
.n_mrgn_top_52{margin-top:-52%;}
.n_mrgn_btm_52{margin-bottom:-52%;}
.n_mrgn_left_right_52{margin-left:-52%;margin-right:-52%;}
.n_mrgn_top_btm_52{margin-top:-52%;margin-bottom:-52%;}
.n_mrgn_53{margin:-53%;}
.n_mrgn_left_53{margin-left:-53%;}
.n_mrgn_right_53{margin-right:-53%;}
.n_mrgn_top_53{margin-top:-53%;}
.n_mrgn_btm_53{margin-bottom:-53%;}
.n_mrgn_left_right_53{margin-left:-53%;margin-right:-53%;}
.n_mrgn_top_btm_53{margin-top:-53%;margin-bottom:-53%;}
.n_mrgn_54{margin:-54%;}
.n_mrgn_left_54{margin-left:-54%;}
.n_mrgn_right_54{margin-right:-54%;}
.n_mrgn_top_54{margin-top:-54%;}
.n_mrgn_btm_54{margin-bottom:-54%;}
.n_mrgn_left_right_54{margin-left:-54%;margin-right:-54%;}
.n_mrgn_top_btm_54{margin-top:-54%;margin-bottom:-54%;}
.n_mrgn_55{margin:-55%;}
.n_mrgn_left_55{margin-left:-55%;}
.n_mrgn_right_55{margin-right:-55%;}
.n_mrgn_top_55{margin-top:-55%;}
.n_mrgn_btm_55{margin-bottom:-55%;}
.n_mrgn_left_right_55{margin-left:-55%;margin-right:-55%;}
.n_mrgn_top_btm_55{margin-top:-55%;margin-bottom:-55%;}
.n_mrgn_56{margin:-56%;}
.n_mrgn_left_56{margin-left:-56%;}
.n_mrgn_right_56{margin-right:-56%;}
.n_mrgn_top_56{margin-top:-56%;}
.n_mrgn_btm_56{margin-bottom:-56%;}
.n_mrgn_left_right_56{margin-left:-56%;margin-right:-56%;}
.n_mrgn_top_btm_56{margin-top:-56%;margin-bottom:-56%;}
.n_mrgn_57{margin:-57%;}
.n_mrgn_left_57{margin-left:-57%;}
.n_mrgn_right_57{margin-right:-57%;}
.n_mrgn_top_57{margin-top:-57%;}
.n_mrgn_btm_57{margin-bottom:-57%;}
.n_mrgn_left_right_57{margin-left:-57%;margin-right:-57%;}
.n_mrgn_top_btm_57{margin-top:-57%;margin-bottom:-57%;}
.n_mrgn_58{margin:-58%;}
.n_mrgn_left_58{margin-left:-58%;}
.n_mrgn_right_58{margin-right:-58%;}
.n_mrgn_top_58{margin-top:-58%;}
.n_mrgn_btm_58{margin-bottom:-58%;}
.n_mrgn_left_right_58{margin-left:-58%;margin-right:-58%;}
.n_mrgn_top_btm_58{margin-top:-58%;margin-bottom:-58%;}
.n_mrgn_59{margin:-59%;}
.n_mrgn_left_59{margin-left:-59%;}
.n_mrgn_right_59{margin-right:-59%;}
.n_mrgn_top_59{margin-top:-59%;}
.n_mrgn_btm_59{margin-bottom:-59%;}
.n_mrgn_left_right_59{margin-left:-59%;margin-right:-59%;}
.n_mrgn_top_btm_59{margin-top:-59%;margin-bottom:-59%;}
.n_mrgn_60{margin:-60%;}
.n_mrgn_left_60{margin-left:-60%;}
.n_mrgn_right_60{margin-right:-60%;}
.n_mrgn_top_60{margin-top:-60%;}
.n_mrgn_btm_60{margin-bottom:-60%;}
.n_mrgn_left_right_60{margin-left:-60%;margin-right:-60%;}
.n_mrgn_top_btm_60{margin-top:-60%;margin-bottom:-60%;}
.n_mrgn_61{margin:-61%;}
.n_mrgn_left_61{margin-left:-61%;}
.n_mrgn_right_61{margin-right:-61%;}
.n_mrgn_top_61{margin-top:-61%;}
.n_mrgn_btm_61{margin-bottom:-61%;}
.n_mrgn_left_right_61{margin-left:-61%;margin-right:-61%;}
.n_mrgn_top_btm_61{margin-top:-61%;margin-bottom:-61%;}
.n_mrgn_62{margin:-62%;}
.n_mrgn_left_62{margin-left:-62%;}
.n_mrgn_right_62{margin-right:-62%;}
.n_mrgn_top_62{margin-top:-62%;}
.n_mrgn_btm_62{margin-bottom:-62%;}
.n_mrgn_left_right_62{margin-left:-62%;margin-right:-62%;}
.n_mrgn_top_btm_62{margin-top:-62%;margin-bottom:-62%;}
.n_mrgn_63{margin:-63%;}
.n_mrgn_left_63{margin-left:-63%;}
.n_mrgn_right_63{margin-right:-63%;}
.n_mrgn_top_63{margin-top:-63%;}
.n_mrgn_btm_63{margin-bottom:-63%;}
.n_mrgn_left_right_63{margin-left:-63%;margin-right:-63%;}
.n_mrgn_top_btm_63{margin-top:-63%;margin-bottom:-63%;}
.n_mrgn_64{margin:-64%;}
.n_mrgn_left_64{margin-left:-64%;}
.n_mrgn_right_64{margin-right:-64%;}
.n_mrgn_top_64{margin-top:-64%;}
.n_mrgn_btm_64{margin-bottom:-64%;}
.n_mrgn_left_right_64{margin-left:-64%;margin-right:-64%;}
.n_mrgn_top_btm_64{margin-top:-64%;margin-bottom:-64%;}
.n_mrgn_65{margin:-65%;}
.n_mrgn_left_65{margin-left:-65%;}
.n_mrgn_right_65{margin-right:-65%;}
.n_mrgn_top_65{margin-top:-65%;}
.n_mrgn_btm_65{margin-bottom:-65%;}
.n_mrgn_left_right_65{margin-left:-65%;margin-right:-65%;}
.n_mrgn_top_btm_65{margin-top:-65%;margin-bottom:-65%;}
.n_mrgn_66{margin:-66%;}
.n_mrgn_left_66{margin-left:-66%;}
.n_mrgn_right_66{margin-right:-66%;}
.n_mrgn_top_66{margin-top:-66%;}
.n_mrgn_btm_66{margin-bottom:-66%;}
.n_mrgn_left_right_66{margin-left:-66%;margin-right:-66%;}
.n_mrgn_top_btm_66{margin-top:-66%;margin-bottom:-66%;}
.n_mrgn_67{margin:-67%;}
.n_mrgn_left_67{margin-left:-67%;}
.n_mrgn_right_67{margin-right:-67%;}
.n_mrgn_top_67{margin-top:-67%;}
.n_mrgn_btm_67{margin-bottom:-67%;}
.n_mrgn_left_right_67{margin-left:-67%;margin-right:-67%;}
.n_mrgn_top_btm_67{margin-top:-67%;margin-bottom:-67%;}
.n_mrgn_68{margin:-68%;}
.n_mrgn_left_68{margin-left:-68%;}
.n_mrgn_right_68{margin-right:-68%;}
.n_mrgn_top_68{margin-top:-68%;}
.n_mrgn_btm_68{margin-bottom:-68%;}
.n_mrgn_left_right_68{margin-left:-68%;margin-right:-68%;}
.n_mrgn_top_btm_68{margin-top:-68%;margin-bottom:-68%;}
.n_mrgn_69{margin:-69%;}
.n_mrgn_left_69{margin-left:-69%;}
.n_mrgn_right_69{margin-right:-69%;}
.n_mrgn_top_69{margin-top:-69%;}
.n_mrgn_btm_69{margin-bottom:-69%;}
.n_mrgn_left_right_69{margin-left:-69%;margin-right:-69%;}
.n_mrgn_top_btm_69{margin-top:-69%;margin-bottom:-69%;}
.n_mrgn_70{margin:-70%;}
.n_mrgn_left_70{margin-left:-70%;}
.n_mrgn_right_70{margin-right:-70%;}
.n_mrgn_top_70{margin-top:-70%;}
.n_mrgn_btm_70{margin-bottom:-70%;}
.n_mrgn_left_right_70{margin-left:-70%;margin-right:-70%;}
.n_mrgn_top_btm_70{margin-top:-70%;margin-bottom:-70%;}
.n_mrgn_71{margin:-71%;}
.n_mrgn_left_71{margin-left:-71%;}
.n_mrgn_right_71{margin-right:-71%;}
.n_mrgn_top_71{margin-top:-71%;}
.n_mrgn_btm_71{margin-bottom:-71%;}
.n_mrgn_left_right_71{margin-left:-71%;margin-right:-71%;}
.n_mrgn_top_btm_71{margin-top:-71%;margin-bottom:-71%;}
.n_mrgn_72{margin:-72%;}
.n_mrgn_left_72{margin-left:-72%;}
.n_mrgn_right_72{margin-right:-72%;}
.n_mrgn_top_72{margin-top:-72%;}
.n_mrgn_btm_72{margin-bottom:-72%;}
.n_mrgn_left_right_72{margin-left:-72%;margin-right:-72%;}
.n_mrgn_top_btm_72{margin-top:-72%;margin-bottom:-72%;}
.n_mrgn_73{margin:-73%;}
.n_mrgn_left_73{margin-left:-73%;}
.n_mrgn_right_73{margin-right:-73%;}
.n_mrgn_top_73{margin-top:-73%;}
.n_mrgn_btm_73{margin-bottom:-73%;}
.n_mrgn_left_right_73{margin-left:-73%;margin-right:-73%;}
.n_mrgn_top_btm_73{margin-top:-73%;margin-bottom:-73%;}
.n_mrgn_74{margin:-74%;}
.n_mrgn_left_74{margin-left:-74%;}
.n_mrgn_right_74{margin-right:-74%;}
.n_mrgn_top_74{margin-top:-74%;}
.n_mrgn_btm_74{margin-bottom:-74%;}
.n_mrgn_left_right_74{margin-left:-74%;margin-right:-74%;}
.n_mrgn_top_btm_74{margin-top:-74%;margin-bottom:-74%;}
.n_mrgn_75{margin:-75%;}
.n_mrgn_left_75{margin-left:-75%;}
.n_mrgn_right_75{margin-right:-75%;}
.n_mrgn_top_75{margin-top:-75%;}
.n_mrgn_btm_75{margin-bottom:-75%;}
.n_mrgn_left_right_75{margin-left:-75%;margin-right:-75%;}
.n_mrgn_top_btm_75{margin-top:-75%;margin-bottom:-75%;}
.n_mrgn_76{margin:-76%;}
.n_mrgn_left_76{margin-left:-76%;}
.n_mrgn_right_76{margin-right:-76%;}
.n_mrgn_top_76{margin-top:-76%;}
.n_mrgn_btm_76{margin-bottom:-76%;}
.n_mrgn_left_right_76{margin-left:-76%;margin-right:-76%;}
.n_mrgn_top_btm_76{margin-top:-76%;margin-bottom:-76%;}
.n_mrgn_77{margin:-77%;}
.n_mrgn_left_77{margin-left:-77%;}
.n_mrgn_right_77{margin-right:-77%;}
.n_mrgn_top_77{margin-top:-77%;}
.n_mrgn_btm_77{margin-bottom:-77%;}
.n_mrgn_left_right_77{margin-left:-77%;margin-right:-77%;}
.n_mrgn_top_btm_77{margin-top:-77%;margin-bottom:-77%;}
.n_mrgn_78{margin:-78%;}
.n_mrgn_left_78{margin-left:-78%;}
.n_mrgn_right_78{margin-right:-78%;}
.n_mrgn_top_78{margin-top:-78%;}
.n_mrgn_btm_78{margin-bottom:-78%;}
.n_mrgn_left_right_78{margin-left:-78%;margin-right:-78%;}
.n_mrgn_top_btm_78{margin-top:-78%;margin-bottom:-78%;}
.n_mrgn_79{margin:-79%;}
.n_mrgn_left_79{margin-left:-79%;}
.n_mrgn_right_79{margin-right:-79%;}
.n_mrgn_top_79{margin-top:-79%;}
.n_mrgn_btm_79{margin-bottom:-79%;}
.n_mrgn_left_right_79{margin-left:-79%;margin-right:-79%;}
.n_mrgn_top_btm_79{margin-top:-79%;margin-bottom:-79%;}
.n_mrgn_80{margin:-80%;}
.n_mrgn_left_80{margin-left:-80%;}
.n_mrgn_right_80{margin-right:-80%;}
.n_mrgn_top_80{margin-top:-80%;}
.n_mrgn_btm_80{margin-bottom:-80%;}
.n_mrgn_left_right_80{margin-left:-80%;margin-right:-80%;}
.n_mrgn_top_btm_80{margin-top:-80%;margin-bottom:-80%;}
.n_mrgn_81{margin:-81%;}
.n_mrgn_left_81{margin-left:-81%;}
.n_mrgn_right_81{margin-right:-81%;}
.n_mrgn_top_81{margin-top:-81%;}
.n_mrgn_btm_81{margin-bottom:-81%;}
.n_mrgn_left_right_81{margin-left:-81%;margin-right:-81%;}
.n_mrgn_top_btm_81{margin-top:-81%;margin-bottom:-81%;}
.n_mrgn_82{margin:-82%;}
.n_mrgn_left_82{margin-left:-82%;}
.n_mrgn_right_82{margin-right:-82%;}
.n_mrgn_top_82{margin-top:-82%;}
.n_mrgn_btm_82{margin-bottom:-82%;}
.n_mrgn_left_right_82{margin-left:-82%;margin-right:-82%;}
.n_mrgn_top_btm_82{margin-top:-82%;margin-bottom:-82%;}
.n_mrgn_83{margin:-83%;}
.n_mrgn_left_83{margin-left:-83%;}
.n_mrgn_right_83{margin-right:-83%;}
.n_mrgn_top_83{margin-top:-83%;}
.n_mrgn_btm_83{margin-bottom:-83%;}
.n_mrgn_left_right_83{margin-left:-83%;margin-right:-83%;}
.n_mrgn_top_btm_83{margin-top:-83%;margin-bottom:-83%;}
.n_mrgn_84{margin:-84%;}
.n_mrgn_left_84{margin-left:-84%;}
.n_mrgn_right_84{margin-right:-84%;}
.n_mrgn_top_84{margin-top:-84%;}
.n_mrgn_btm_84{margin-bottom:-84%;}
.n_mrgn_left_right_84{margin-left:-84%;margin-right:-84%;}
.n_mrgn_top_btm_84{margin-top:-84%;margin-bottom:-84%;}
.n_mrgn_85{margin:-85%;}
.n_mrgn_left_85{margin-left:-85%;}
.n_mrgn_right_85{margin-right:-85%;}
.n_mrgn_top_85{margin-top:-85%;}
.n_mrgn_btm_85{margin-bottom:-85%;}
.n_mrgn_left_right_85{margin-left:-85%;margin-right:-85%;}
.n_mrgn_top_btm_85{margin-top:-85%;margin-bottom:-85%;}
.n_mrgn_86{margin:-86%;}
.n_mrgn_left_86{margin-left:-86%;}
.n_mrgn_right_86{margin-right:-86%;}
.n_mrgn_top_86{margin-top:-86%;}
.n_mrgn_btm_86{margin-bottom:-86%;}
.n_mrgn_left_right_86{margin-left:-86%;margin-right:-86%;}
.n_mrgn_top_btm_86{margin-top:-86%;margin-bottom:-86%;}
.n_mrgn_87{margin:-87%;}
.n_mrgn_left_87{margin-left:-87%;}
.n_mrgn_right_87{margin-right:-87%;}
.n_mrgn_top_87{margin-top:-87%;}
.n_mrgn_btm_87{margin-bottom:-87%;}
.n_mrgn_left_right_87{margin-left:-87%;margin-right:-87%;}
.n_mrgn_top_btm_87{margin-top:-87%;margin-bottom:-87%;}
.n_mrgn_88{margin:-88%;}
.n_mrgn_left_88{margin-left:-88%;}
.n_mrgn_right_88{margin-right:-88%;}
.n_mrgn_top_88{margin-top:-88%;}
.n_mrgn_btm_88{margin-bottom:-88%;}
.n_mrgn_left_right_88{margin-left:-88%;margin-right:-88%;}
.n_mrgn_top_btm_88{margin-top:-88%;margin-bottom:-88%;}
.n_mrgn_89{margin:-89%;}
.n_mrgn_left_89{margin-left:-89%;}
.n_mrgn_right_89{margin-right:-89%;}
.n_mrgn_top_89{margin-top:-89%;}
.n_mrgn_btm_89{margin-bottom:-89%;}
.n_mrgn_left_right_89{margin-left:-89%;margin-right:-89%;}
.n_mrgn_top_btm_89{margin-top:-89%;margin-bottom:-89%;}
.n_mrgn_90{margin:-90%;}
.n_mrgn_left_90{margin-left:-90%;}
.n_mrgn_right_90{margin-right:-90%;}
.n_mrgn_top_90{margin-top:-90%;}
.n_mrgn_btm_90{margin-bottom:-90%;}
.n_mrgn_left_right_90{margin-left:-90%;margin-right:-90%;}
.n_mrgn_top_btm_90{margin-top:-90%;margin-bottom:-90%;}
.n_mrgn_91{margin:-91%;}
.n_mrgn_left_91{margin-left:-91%;}
.n_mrgn_right_91{margin-right:-91%;}
.n_mrgn_top_91{margin-top:-91%;}
.n_mrgn_btm_91{margin-bottom:-91%;}
.n_mrgn_left_right_91{margin-left:-91%;margin-right:-91%;}
.n_mrgn_top_btm_91{margin-top:-91%;margin-bottom:-91%;}
.n_mrgn_92{margin:-92%;}
.n_mrgn_left_92{margin-left:-92%;}
.n_mrgn_right_92{margin-right:-92%;}
.n_mrgn_top_92{margin-top:-92%;}
.n_mrgn_btm_92{margin-bottom:-92%;}
.n_mrgn_left_right_92{margin-left:-92%;margin-right:-92%;}
.n_mrgn_top_btm_92{margin-top:-92%;margin-bottom:-92%;}
.n_mrgn_93{margin:-93%;}
.n_mrgn_left_93{margin-left:-93%;}
.n_mrgn_right_93{margin-right:-93%;}
.n_mrgn_top_93{margin-top:-93%;}
.n_mrgn_btm_93{margin-bottom:-93%;}
.n_mrgn_left_right_93{margin-left:-93%;margin-right:-93%;}
.n_mrgn_top_btm_93{margin-top:-93%;margin-bottom:-93%;}
.n_mrgn_94{margin:-94%;}
.n_mrgn_left_94{margin-left:-94%;}
.n_mrgn_right_94{margin-right:-94%;}
.n_mrgn_top_94{margin-top:-94%;}
.n_mrgn_btm_94{margin-bottom:-94%;}
.n_mrgn_left_right_94{margin-left:-94%;margin-right:-94%;}
.n_mrgn_top_btm_94{margin-top:-94%;margin-bottom:-94%;}
.n_mrgn_95{margin:-95%;}
.n_mrgn_left_95{margin-left:-95%;}
.n_mrgn_right_95{margin-right:-95%;}
.n_mrgn_top_95{margin-top:-95%;}
.n_mrgn_btm_95{margin-bottom:-95%;}
.n_mrgn_left_right_95{margin-left:-95%;margin-right:-95%;}
.n_mrgn_top_btm_95{margin-top:-95%;margin-bottom:-95%;}
.n_mrgn_96{margin:-96%;}
.n_mrgn_left_96{margin-left:-96%;}
.n_mrgn_right_96{margin-right:-96%;}
.n_mrgn_top_96{margin-top:-96%;}
.n_mrgn_btm_96{margin-bottom:-96%;}
.n_mrgn_left_right_96{margin-left:-96%;margin-right:-96%;}
.n_mrgn_top_btm_96{margin-top:-96%;margin-bottom:-96%;}
.n_mrgn_97{margin:-97%;}
.n_mrgn_left_97{margin-left:-97%;}
.n_mrgn_right_97{margin-right:-97%;}
.n_mrgn_top_97{margin-top:-97%;}
.n_mrgn_btm_97{margin-bottom:-97%;}
.n_mrgn_left_right_97{margin-left:-97%;margin-right:-97%;}
.n_mrgn_top_btm_97{margin-top:-97%;margin-bottom:-97%;}
.n_mrgn_98{margin:-98%;}
.n_mrgn_left_98{margin-left:-98%;}
.n_mrgn_right_98{margin-right:-98%;}
.n_mrgn_top_98{margin-top:-98%;}
.n_mrgn_btm_98{margin-bottom:-98%;}
.n_mrgn_left_right_98{margin-left:-98%;margin-right:-98%;}
.n_mrgn_top_btm_98{margin-top:-98%;margin-bottom:-98%;}
.n_mrgn_99{margin:-99%;}
.n_mrgn_left_99{margin-left:-99%;}
.n_mrgn_right_99{margin-right:-99%;}
.n_mrgn_top_99{margin-top:-99%;}
.n_mrgn_btm_99{margin-bottom:-99%;}
.n_mrgn_left_right_99{margin-left:-99%;margin-right:-99%;}
.n_mrgn_top_btm_99{margin-top:-99%;margin-bottom:-99%;}
.n_mrgn_100{margin:-100%;}
.n_mrgn_left_100{margin-left:-100%;}
.n_mrgn_right1_00{margin-right:-100%;}
.n_mrgn_top1_00{margin-top:-100%;}
.n_mrgn_btm_100{margin-bottom:-100%;}
.n_mrgn_left_right_100{margin-left:-100%;margin-right:-100%;}
.n_mrgn_top_btm_100{margin-top:-100%;margin-bottom:-100%;}